@{
    ViewBag.Title = "getByMeta";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <div class="col-md-12 mb-0">
                    <a href="/trang-chu">Trang chủ</a>
                    <span class="mx-2 mb-0">/</span>
                    <a href="/san-pham">Sản phẩm</a>
                    <span class="mx-2 mb-0">/</span>
                    <strong class="text-black">@Model.name</strong>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">

            @Html.Action("getProduct", "Home", new { id = @Model.id, metatittle = @ViewBag.meta })

        </div>
    </div>
</div>
