@model IEnumerable<Pharmacy.Models.Menu>

<ul class="site-menu js-clone-nav d-none d-lg-block">
    @foreach (var menu in Model)
    {
        <li class=" @((menu.isDropdown == true) ? "has-children" : "") ">

            <a href="/@menu.meta">@menu.name</a>

            @if (menu.isDropdown == true)
            {
                <ul class="dropdown">
                    @foreach (var subMenu in menu.SubMenus)
                    {
                        <li><a href="/@subMenu.meta">@subMenu.name</a></li>
                    }
                </ul>
            }
        </li>
    }
</ul>