
@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<!-----------------------------BANNER---------------------------------->
@{Html.RenderAction("getAboutBanner", "About"); }

<!-----------------------------BODY------------------------------------>
@{Html.RenderAction("getCompanyInfo", "About"); }

<div class="site-section site-section-sm site-blocks-1 border-0">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-truck text-primary"></span>
                </div>
                <div class="text">
                    <h2>Free Shipping</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan
                        tincidunt fringilla.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-refresh2 text-primary"></span>
                </div>
                <div class="text">
                    <h2>Free Returns</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan
                        tincidunt fringilla.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-help text-primary"></span>
                </div>
                <div class="text">
                    <h2>Customer Support</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan
                        tincidunt fringilla.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="site-section bg-light custom-border-bottom">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 site-section-heading text-center pt-4">
                <h2>The Team</h2>
            </div>
        </div>
        <div class="row">
            @{Html.RenderAction("getTeamInfo", "About"); }

        </div>
    </div>
</div>
